[submodule "lib/identity-wallet-js"]
	path = lib/identity-wallet-js
	url = https://github.com/cod1ng-earth/identity-wallet-js.git
[submodule "lib/js-ceramic"]
	path = lib/js-ceramic
	url = https://github.com/ceramicnetwork/js-ceramic.git
